<div class="">
   <div class="row">
      <div class="col-sm-12">
         <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
              <li class="paginate_button previous" ng-class="{disabled: bill_list.current_page <= 1}" aria-controls="dataTable" tabindex="0" id="dataTable_previous">
                <a href="#" ng-click="paging(bill_list.current_page-1, $event)">{{ 'previous_page' | translate }}</a>
              </li>
              <li class="paginate_button next" ng-class="{disabled: bill_list.current_page >= bill_list.total_pages}" aria-controls="dataTable" tabindex="0" id="dataTable_next">
                <a href="#" ng-click="paging(bill_list.current_page+1, $event)">{{ 'next_page' | translate }}</a>
              </li>
              <span class="btn btn-default btn-rect">{{ 'pages'| translate }} {{bill_list.current_page}} / {{bill_list.total_pages}}</span>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="table-responsive col-sm-12">
         <table class="table table-bordered table-condensed table-hover table-striped dataTable no-footer">
            <thead>
               <tr>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "bill_category" | translate }}</th>
                 <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1">{{ "bill_type" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{"bill_amount"| translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "bill_date" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "bill_title" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "bill_description" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "bill_operate" | translate }}</th>
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in bill_list.data">
                  <td>{{b.category && b.category.name}}</td>
                  <td>{{b.type_name}}</td>
                  <td>{{b.amount}}</td>
                  <td>{{b.date}}</td>
                  <td>{{b.title}}</td>
                  <td>{{b.description}}</td>
                  <td>
                    <a href="#/bill/{{b.id}}/edit">{{ 'edit_op' | translate }}</a>
                    <a href="#" ng-click="deleteItem(b, $index, $event)">{{ 'delete_op' | translate }}</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
              <li class="paginate_button previous" ng-class="{disabled: bill_list.current_page <= 1}" aria-controls="dataTable" tabindex="0" id="dataTable_previous">
                <a href="#" ng-click="paging(bill_list.current_page-1, $event)">{{ 'previous_page' | translate }}</a>
              </li>
              <li class="paginate_button next" ng-class="{disabled: bill_list.current_page >= bill_list.total_pages}" aria-controls="dataTable" tabindex="0" id="dataTable_next">
                <a href="#" ng-click="paging(bill_list.current_page+1, $event)">{{ 'next_page' | translate }}</a>
              </li>
              <span class="btn btn-default btn-rect">{{ 'pages'| translate }} {{bill_list.current_page}} / {{bill_list.total_pages}}</span>
            </ul>
         </div>
      </div>
   </div>
</div>

