<div class="">
   <div class="row">
      <div class="col-sm-12">
         <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
              <li class="paginate_button previous" ng-class="{disabled: category_list.current_page <= 1}" aria-controls="dataTable" tabindex="0" id="dataTable_previous">
                <a href="#" ng-click="paging(category_list.current_page-1, $event)">{{ 'previous_page' | translate }}</a>
              </li>
              <li class="paginate_button next" ng-class="{disabled: category_list.current_page >= category_list.total_pages}" aria-controls="dataTable" tabindex="0" id="dataTable_next">
                <a href="#" ng-click="paging(category_list.current_page+1, $event)">{{ 'next_page' | translate }}</a>
              </li>
              <span class="btn btn-default btn-rect">{{ 'pages'| translate }} {{category_list.current_page}} / {{category_list.total_pages}}</span>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="table-responsive col-sm-12">
         <table class="table table-bordered table-condensed table-hover table-striped dataTable no-footer">
            <thead>
               <tr>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "category_name" | translate }}</th>
                 <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1">{{ "category_type" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "category_parent" | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ "category_operate" | translate }}</th>
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in category_list.data">
                  <td>{{c.name}}</td>
                  <td>{{c.type_name}}</td>
                  <td>{{c.parent && c.parent.name}}</td>
                  <td>
                    <a href="#/category/{{c.id}}/edit">{{ 'edit_op' | translate }}</a>
                    <a href="#" ng-click="deleteItem(c, $index, $event)">{{ 'delete_op' | translate }}</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
              <li class="paginate_button previous" ng-class="{disabled: category_list.current_page <= 1}" aria-controls="dataTable" tabindex="0" id="dataTable_previous">
                <a href="#" ng-click="paging(category_list.current_page-1, $event)">{{ 'previous_page' | translate }}</a>
              </li>
              <li class="paginate_button next" ng-class="{disabled: category_list.current_page >= category_list.total_pages}" aria-controls="dataTable" tabindex="0" id="dataTable_next">
                <a href="#" ng-click="paging(category_list.current_page+1, $event)">{{ 'next_page' | translate }}</a>
              </li>
              <span class="btn btn-default btn-rect">{{ 'pages'| translate }} {{category_list.current_page}} / {{category_list.total_pages}}</span>
            </ul>
         </div>
      </div>
   </div>
</div>

