<div class="">
   <div class="row">
      <div class="table-responsive col-sm-12">
         <table class="table table-bordered table-condensed table-hover table-striped dataTable no-footer">
            <thead>
               <tr>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1"></th>
                 <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1">{{ 'income' | translate }}</th>
                 <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ 'expense' | translate }}</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                  <td>{{ 'summary.week' | translate }}</td>
                  <td>{{ bill_summary.income.week }}</td>
                  <td>{{ bill_summary.expense.week }}</td>
               </tr>
               <tr>
                  <td>{{ 'summary.month' | translate }}</td>
                  <td>{{ bill_summary.income.month }}</td>
                  <td>{{ bill_summary.expense.month }}</td>
               </tr>
               <tr>
                  <td>{{ 'summary.total' | translate }}</td>
                  <td>{{ bill_summary.income.total }}</td>
                  <td>{{ bill_summary.expense.total }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

